%ul
  %li= link_to("Aisles", admin_aisles_path)
  %li= link_to("Carts", admin_carts_path)
  %li= link_to("Categories", admin_categories_path)
  %li= link_to("Items", admin_items_path)
  %li= link_to("Store", admin_stores_path)
