#sidebar
  #login
    - form_tag(:controller => "sessions", :action => "create", :method => :post) do
      = text_field_tag("username", "Username", :onfocus => 'changeDefaultFieldOnFocus(this, "Username")', :onblur => 'changeDefaultFieldOnBlur(this, "Username")')
      = password_field_tag("password", "password", :onfocus => "this.value = ''")
      = image_submit_tag("login-submit.png", :class => "login-btn")
    #login-links
      %a.login-link{ :href => signup_path } Create an Account
      | Forgot Your Password?

  #sidebar-lists
    = image_tag("/images/paper-arrow.png", :width => "39px", :height => "48px", :alt => "paper icon")

    %h2 My shopping list

    .clear

    %hr.divider

    .sidebar-content
      #wrapper.shopping-list

        .content
          / sidebar content in a box sits inside this div
          #getting-started
            = image_tag("/images/get-started-tag.png", :width => "50px", :height => "52px", :alt => "paper icon")
            %h2 Getting Started
            .clear
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim congue erat. Aliquam sollicitudin, ligula nec interdum ultricies, diam urna elementum felis, eget lacinia ligula massa et justo.
          %ul#shopping-list-content